

<head>
  <title> My Story </title>
</head>

<body>
  <h1 class="header" id="title">Ducks R Cool</h1> 
  <h2 class="header">Why Are They the Best:</h2>
  <p> Ducks are the best because of how fluffy they are. </p>
  <h2 class="header">Biography on Herbert the Duck:</h2>
  <p>Herbert is from Idaho and is 4 weeks old.   He loves listening to Drake and really likes wearing as much gucci as physically possible.  Although it seems like it, Herbert is not in fact related to Jake Paul.   
  <h2 class="header">Why Everyone Should Love Them: </h2>
  <p> You just should, ok! </p>

  <ul>
    <li>They have cool beaks</li>
    <li>They are yellow</li>
    <li>They have webbed feet</li>
  </ul>
    <img src="http://www.birdfeedersspot.com/images/duckling-1596730_960_720.jpg" width= height=500 alt=Error>
 
  
  </body>

</html>