
<html>
  <head>
    <title>My First HTML</title>
    <link rel = "stylesheet" href = "stylesheets/liza.css"
  </head>
  <body>
  <h1 class = "class">All About Minka</h1>
    <p> Minka is only 15 but she is very accomplished as you can see from the picture below. </p>
    <img src = http://www.cotc.edu/News/PublishingImages/Pages/College-Aspire-Inspires-Local-Middle-and-High-School-Students/P1380764.jpg 
         style = width:377px;height324px;>
    <h2 class = "class"> Minka's Interests </h2>
    <p> She plays many instruments like the violin, cello, and piano, but her favorite is the bandura, which is a Ukranian instrument which could roughly be likened to a guitar. </p>
    <img src = https://images-na.ssl-images-amazon.com/images/I/91XWrPOjcZL._SL1500_.jpg 
         style = width:375px;height:375px;>
    <p> Minka is also a coding master. She singlehandedly designed the following websites. </p>
    <ul>
      <li> <a href = "https://www.amazon.com/">Amazon</a> </li>
    
    <li> <a href = "https://www.instagram.com/">https://www.instagram.com/</a> </li>
    
    <li> <a href = "https://www.facebook.com/">https://www.facebook.com/</a> </li>
    </ul>
    
    <p> These are Minka's rolemodels </p>
        <img src = https://pics.esmemes.com/person-of-the-year-time-facebooks-mark-zuckerberg-wheelz-if-z-28590181.png
         style = width:250px;height:335px;>
    <img src = http://images.tritondigitalcms.com/6616/sites/356/2018/01/30105928/Elon-Musk-Flamethrower.jpg
         style = width:327px;height:186px;>


    <p> Minka also has a sister named Teresa. They are both homeschooled so that they have lots of time to practice their many instruments.</p>
  </body>
  <footer> Page created by Liza Cotter. </footer>
    <footer> Sources : Minka Rakowsky </footer>
    <footer>If you have further questions about the mystical, magical, Minka, you can contact me at ecotter20@allendalecolumbia.org or contact Minka at madrakowsky5@gmail.com </footer>
</html>


