<!DOCTYPE erb>
<html>
  <head>
    <title>New York City</title>
  </head>
  <body>
  <h1> HOTELS</h1>
    <ul>
      <li>Pod 51 Hotel: $109 </li>
      <li>SoHotel: $121 </li>
      <li>YOTEL New York Hotel: $109 </li>
      <li>Pod 39: $145 </li>
      <li>BKLYN House Hotel: $129</li>
      <li>Grand Hyatt New York: $124</li>
      <li> Ace Hotel New York: $179</li>
      <li>NYLO New York City: $166</li>
       </ul>
       <h1> RESTUARANTS </h1>
       <ul>
         <li>Mamoun's $</li>
         <li> Karczma $</li>
         <li>Cheeky Sandwiches $</li>
         <li>Joe's Pizza $</li>
         <li>Veselka $$</li>
         <li>Daniel $$$$</li>
         <li>Wildair $$$</li>
         <li>Uncle Boons $$</li>
          </ul>
          
          <h1>EVENTS</h1>
          <ul>
          <li>FIT</li>
          <li>Bronx Zoo</li>
          <li>NYC Public Library</li>
          <li>Central Park</li>
          <li>Broadway</li>
          </ul>
          
          
          
       <li
  </body>
</html>