
<!DOCTYPE erb>
<html>
  <head>
    <title>Paris</title>
  </head>
  <body>
  <h1> HOTELS</h1>
    <ul>
      <li><a href="https://www.designhotels.com/hotels/france/paris/hotel-de-nell">Hotel De Nell: $276</a></li>
      <li><a href="http://www.hotelbeauchamps.com/">Hotel Beauchamps: $171</a> </li>
      <li><a href="http://www.ministerehotel.com/uk/index.php">Hotel Du Ministere: $159</a> </li>
      <li><a href="https://hoteltourismeavenue.com/index.php/fr/">Hotel Tourisme Avenue: $159</a> </li>
      <li><a href="https://hotelwaldorf.fr/en/">Hotel Waldorf Mont Parnasse: $74</a></li>
      <li><a href="http://www.floride-paris-hotel.com/en">Floride Etoile Hotel: $98</a></li>
    <li><a href="https://www.ihg.com/crowneplaza/hotels/us/en/paris/pardl/hoteldetail"> Crown Plaza Paris Republique: $141</a>  </li>
      <li><a href="http://www.novotel-paris-toureiffel.com/">Novotel Tour Eiffel Hotel: $126</a></li>
       </ul>
       <h1> RESTUARANTS </h1>
       <ul>
         <li><a href="http://marcheoucrepe.fr/en">Marche Ou Crepe $</a></li>
         <li><a href="http://www.cafe-elsur.com/">El Sur $$</a></li>
         <li><a href="https://www.theworlds50best.com/The-List-2017/41-50/LAstrance.html">L'Astrance $$$$</a></li>
         <li><a href="https://www.davidtoutain.com/">Restuarant David Toutain $$$</a></li>
         <li><a href="http://www.alain-passard.com/en/">L'Arpege $$$$</a></li>
         <li><a href="http://restaurant-lassiette.paris/">L'Assiete $$$</a></li>
          </ul>
          
          <h1>EVENTS</h1>
          <ul>
          <li><a href="https://www.toureiffel.paris/en/rates-opening-times">Eiffel Tower</a></li>
          <li><a href="https://www.louvre.fr/en">The louvre</a></li>
          <li><a href="http://www.notredamedeparis.fr/en/"> Notre-Dame de Paris</a></li>
          <li><a href="http://en.chateauversailles.fr/">Palace of Versailles</a></li>
          <li><a href="https://www.chamonix.com/chamonix-mont-blanc,0,en.html">Chamonix-Mont Blanc</a></li>
          </ul>
          
       
  </body>
</html>
